{% extends 'base.html' %}

{% block content %}
    <section class="mt-5 signup">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-5 col-xl-5">
              <img src="https://expensetrackerapplication.s3.jp-tok.cloud-object-storage.appdomain.cloud/signup_logo.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <!-- alert -->
                
                {% if danger%}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <i class="fas fa-exclamation-triangle"></i> &nbsp; {{ danger }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

            <!-- alert end -->

              <form action="{{ url_for('signup')}}" method="post">
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mt-5">
                  <h1 class="h1 fw-normal mb-4 me-3">Sign up</h1>
                </div>
      
                <!-- Email input -->
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example1">Email address</label>
                  <input type="email" id="form3Example1" name="email" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" required/>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example2">Firstname</label>
                    <input type="text" id="form3Example2" minlength="3" name="firstname" class="form-control form-control-lg"
                      placeholder="Enter your firstname" required/>
                  </div>

                  <div class="form-outline mb-3">
                      <label class="form-label" for="form3Example3">Lastname</label>
                    <input type="text" id="form3Example3" name="lastname" class="form-control form-control-lg"
                      placeholder="Enter your lastname" required/>
                  </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example4">Password</label>
                  <input type="password" id="form3Example4" minlength="8" name="password" class="form-control form-control-lg"
                    placeholder="Enter password" required/>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label" for="form3Example5">Confirm Password</label>
                    <input type="password" id="form3Example5" name="re-password" class="form-control form-control-lg"
                      placeholder="Re-Enter password" required/>
                  </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="{{ url_for('login') }}"
                      class="link-danger">Login</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>

{% endblock %}